html, body {
    min-width: 575px;
}

.btn {
    background-color: #008080;
    color: #FFFFFF;
    width: 100px;
}

.flip {
    transform: rotateY(180deg);
}

.unflip {
    transform: rotateX(-180deg);
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 150px;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100px;
    height: 150px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100px;
    height: 150px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #000000;
    color: #FFFFFF;
    line-height: 150px;
}
  
.flip-card-back {
    background-color: #FFFFFF;
    color: #FFFFFF;
    transform: rotateY(180deg);
}