legend {
    width: auto;
    font-size: 16px; 
    line-height: 1.5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#card-users-head, .modal-header {
    background-color: #008080;
}

.card {
    border: none;
}